
        <!-- header -->
        <header class="header" id="header">
          <nav class="nav container">
              <div class="nav-container" style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
                  <!-- Logo -->
                  <a href="#">
                      <img src="../../assets/img/logo.png" style="width: 15%; height: 15%; margin-bottom: 0%;" alt="Logo">
                  </a>
              
                  <!-- Navigation Menu -->
                  <div class="nav__menu" id="nav-menu" style="flex-grow: 1;">
                      <ul class="nav__list" style="list-style: none; display: flex; justify-content: flex-end; gap: 30px;">
                          <li class="nav__item">
                              <a href="#home" class="nav__link">ACCUEIL</a>
                          </li>
                          <li class="nav__item">
                              <a href="#about" class="nav__link">PRESENTATION</a>
                          </li>
                          <li class="nav__item">
                              <a href="#faqs" class="nav__link">FAQs</a>
                          </li>
                          <li class="nav__item">
                              <a href="#contact" class="nav__link">CONTACT</a>
                          </li>
                          <li class="nav__item">
                              <a (click)="navigateToLogin()" class="nav__link">LOGIN</a>
                          </li>
                          <li class="nav__item">
                              <a (click)="navigateToSignup()" class="nav__link">SIGNUP</a>
                          </li>
                      </ul>
                  </div>
              </div>                

              <div class="nav__btns">
                  <!-- theme change -->
                  <i class="ri-moon-line change-theme" id="theme-button"></i>

                  <div class="nav__toggle" id="nav-toggle">
                      <i class="ri-menu-line"></i>
                  </div>
              </div>
          </nav>
      </header>

      <main class="main">
          <!-- home -->
          <section id="home" class="hero section">
            <div class="hero-bg">
              <img src="../../assets/img/hero-bg-light.webp" alt="">
            </div>
            <div class="container text-center">
              <div class="d-flex flex-column justify-content-center align-items-center">
                <h1 data-aos="fade-up">Bienvenue sur <span>Edeliver</span></h1>
                <p data-aos="fade-up" data-aos-delay="100">                            Gérez et suivez vos livraisons en temps réel. Nous offrons une solution intuitive pour les administrateurs, livreurs et clients, garantissant une livraison sans souci.
                  <br></p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                  <a href="#about" class="btn-get-started">Commencer</a>
                  <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Voir Video</span></a>
                </div>
                <img src="../../assets/img/home.png" class="img-fluid hero-img" alt="" data-aos="zoom-out" data-aos-delay="300">
              </div>
            </div>
      
          </section>
          
                     <!-- about -->
                     <section id="about" class="about section">

                        <div class="container">
                  
                          <div class="row gy-4">
                  
                            <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                              <p class="who-we-are">                                  Qui sommes-nous & pourquoi nous choisir
                            </p>
                              <h3>spécialisés dans la gestion de la livraison à domicile</h3>
                              <p class="fst-italic">
                                Nous  offrons un service fiable qui permet à nos clients de suivre leurs commandes en toute confiance.

                              </p>
                              <ul>
                                <li><i class="bi bi-check-circle"></i> <span>Livraison toujours à l'heure.</span></li>
                                <li><i class="bi bi-check-circle">                           
                                </i> <span>                                      Suivi en temps réel de vos commandes.
                                </span></li>
                                <li><i class="bi bi-check-circle"></i> <span>                                    
                                    Notifications sur l'état de votre livraison.
                                </span></li>
                              </ul>
                              <a href="#" class="read-more"><span>Lire Plus</span><i class="bi bi-arrow-right"></i></a>
                            </div>
                  
                            <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
                              <div class="row gy-4">
                                <div class="col-lg-6">
                                  <img src="assets/img/about-company-1.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-lg-6">
                                  <div class="row gy-4">
                                    <div class="col-lg-12">
                                      <img src="assets/img/about-company-2.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-lg-12">
                                      <img src="assets/img/about-company-3.jpg" class="img-fluid" alt="">
                                    </div>
                                  </div>
                                </div>
                              </div>
                  
                            </div>
                  
                          </div>
                  
                        </div>
                      </section>
                      <section id="faqs" class="faq section">

                        <!-- Section Title -->
                        <div class="container section-title" data-aos="fade-up">
                          <h2>Questions fréquentes </h2>
                        </div><!-- End Section Title -->
                  
                        <div class="container">
                  
                          <div class="row justify-content-center">
                  
                            <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">
                  
                              <div class="faq-container">
                  
                                <div class="faq-item faq-active">
                                  <h3>Pourquoi ma commande est-elle en retard ?</h3>
                                  <div class="faq-content">
                                    <p> Il peut y avoir plusieurs raisons pour lesquelles votre commande est en retard, y compris des problèmes de logistique ou des conditions météorologiques imprévues.
                                    </p>
                                  </div>
                                  <i class="faq-toggle bi bi-chevron-right"></i>
                                </div><!-- End Faq item-->
                  
                                <div class="faq-item">
                                  <h3> Comment suivre ma livraison ?</h3>
                                  <div class="faq-content">
                                    <p>                                  Vous pouvez suivre votre livraison en utilisant le lien de suivi fourni dans l'email de confirmation de votre commande.
                                    </p>
                                  </div>
                                  <i class="faq-toggle bi bi-chevron-right"></i>
                                </div><!-- End Faq item-->
                  
                                <div class="faq-item">
                                  <h3>Que faire si ma livraison est endommagée ?</h3>
                                  <div class="faq-content">
                                    <p>Si votre livraison est endommagée, veuillez contacter notre service client dans les plus brefs délais pour organiser un retour ou un échange.</p>
                                  </div>
                                  <i class="faq-toggle bi bi-chevron-right"></i>
                                </div><!-- End Faq item-->
                  
                                <div class="faq-item">
                                  <h3>Quels sont les délais de livraison ?</h3>
                                  <div class="faq-content">
                                    <p>Nos délais de livraison varient en fonction de votre emplacement, mais nous nous efforçons de livrer toutes les commandes dans les 3 à 5 jours ouvrables.
                                    </p>
                                  </div>
                                  <i class="faq-toggle bi bi-chevron-right"></i>
                                </div><!-- End Faq item-->
                  
                                <div class="faq-item">
                                  <h3>Puis-je changer l'adresse après ma commande ?</h3>
                                  <div class="faq-content">
                                    <p> Si vous devez modifier votre adresse de livraison, veuillez nous contacter immédiatement pour voir si cela est possible avant l'expédition.
                                    </p>
                                  </div>
                                  <i class="faq-toggle bi bi-chevron-right"></i>
                                </div><!-- End Faq item-->
                  
                                <div class="faq-item">
                                  <h3>Quels modes de paiement acceptez-vous ?</h3>
                                  <div class="faq-content">
                                    <p> Nous acceptons plusieurs modes de paiement, y compris les cartes de crédit, PayPal, et les virements bancaires.</p>
                                  </div>
                                  <i class="faq-toggle bi bi-chevron-right"></i>
                                </div><!-- End Faq item-->
                  
                              </div>
                  
                            </div><!-- End Faq Column-->
                  
                          </div>
                  
                        </div>
                  
                      </section>

          <!-- <section class="questions section" id="faqs"> 
              <h2 class="section_title-center questions_title container">
                  Questions fréquentes <br> que l'on pose souvent
              </h2>
          
              <div class="questions__container container grid">
                  <div class="questions__group">
                      <div class="questions__item">
                          <header class="questions__header">
                              <i class="ri-add-line questions__icon"></i>
                              <h3 class="questions__item-title">
                                  Pourquoi ma commande est-elle en retard ?
                              </h3>
                          </header>
          
                          <div class="questions__content">
                              <p class="questions__description">
                                  Il peut y avoir plusieurs raisons pour lesquelles votre commande est en retard, y compris des problèmes de logistique ou des conditions météorologiques imprévues.
                              </p>
                          </div>
                      </div>
          
                      <div class="questions__item">
                          <header class="questions__header">
                              <i class="ri-add-line questions__icon"></i>
                              <h3 class="questions__item-title">
                                  Comment suivre ma livraison ?
                              </h3>
                          </header>
          
                          <div class="questions__content">
                              <p class="questions__description">
                                  Vous pouvez suivre votre livraison en utilisant le lien de suivi fourni dans l'email de confirmation de votre commande.
                              </p>
                          </div>
                      </div>
          
                      <div class="questions__item">
                          <header class="questions__header">
                              <i class="ri-add-line questions__icon"></i>
                              <h3 class="questions__item-title">
                                  Que faire si ma livraison est endommagée ?
                              </h3>
                          </header>
          
                          <div class="questions__content">
                              <p class="questions__description">
                                  Si votre livraison est endommagée, veuillez contacter notre service client dans les plus brefs délais pour organiser un retour ou un échange.
                              </p>
                          </div>
                      </div>
                  </div>
          
                  <div class="questions__group">
                      <div class="questions__item">
                          <header class="questions__header">
                              <i class="ri-add-line questions__icon"></i>
                              <h3 class="questions__item-title">
                                  Quels sont les délais de livraison ?
                              </h3>
                          </header>
          
                          <div class="questions__content">
                              <p class="questions__description">
                                  Nos délais de livraison varient en fonction de votre emplacement, mais nous nous efforçons de livrer toutes les commandes dans les 3 à 5 jours ouvrables.
                              </p>
                          </div>
                      </div>
          
                      <div class="questions__item">
                          <header class="questions__header">
                              <i class="ri-add-line questions__icon"></i>
                              <h3 class="questions__item-title">
                                  Puis-je changer l'adresse après ma commande ?
                              </h3>
                          </header>
          
                          <div class="questions__content">
                              <p class="questions__description">
                                  Si vous devez modifier votre adresse de livraison, veuillez nous contacter immédiatement pour voir si cela est possible avant l'expédition.
                              </p>
                          </div>
                      </div>
          
                      <div class="questions__item">
                          <header class="questions__header">
                              <i class="ri-add-line questions__icon"></i>
                              <h3 class="questions__item-title">
                                  Quels modes de paiement acceptez-vous ?
                              </h3>
                          </header>
          
                          <div class="questions__content">
                              <p class="questions__description">
                                  Nous acceptons plusieurs modes de paiement, y compris les cartes de crédit, PayPal, et les virements bancaires.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </section> -->

          <!--Contact-->
          <!-- <section class="contact section container" id="contact">                
              <div class="contact__container grid">
                  <div class="contact__box">
                      <h2 class="section__title">
                          Contactez-nous   via l'une des informations  fournies
                      </h2>
          
                      <div class="contact__data">
                          <div class="contact__information">
                              <h3 class="contact__subtitle">Appelez-nous pour un support instantané</h3>
                              <span class="contact__description">
                                  <i class="ri-phone-line contact__icon"></i>
                                  +212657431290
                              </span>
                          </div>
          
                          <div class="contact__information">
                              <h3 class="contact__subtitle">Contactez-nous par e-mail</h3>
                              <span class="contact__description">
                                  <i class="ri-mail-line contact__icon"></i>
                                  edeliver&amp;email.com
                              </span>
                          </div>
                      </div>
                  </div>
          
                  <form action="" class="contact__form">
                      <div class="contact__inputs">
                          <div class="contact__content">
                              <input type="email" placeholder=" " class="contact__input">
                              <label for="" class="contact__label">Email</label>
                          </div>
          
                          <div class="contact__content">
                              <input type="text" placeholder=" " class="contact__input">
                              <label for="" class="contact__label">Objet</label>
                          </div>
          
                          <div class="contact__content contact__area">
                              <textarea name="message" placeholder=" " class="contact__input"></textarea>                              
                              <label for="" class="contact__label">Message</label>
                          </div>
                      </div>
          
                      <button class="button button--flex">
                          Envoyer le message
                          <i class="ri-arrow-right-up-line button__icon"></i>
                      </button>
                  </form>
              </div>
          </section> -->
          <section id="contact" class="contact section">

            <!-- Section Title -->
            <div class="container section-title text-center" data-aos="fade-up">
              <h2>Contact</h2>
              <p>Nous sommes à votre disposition pour toute question ou besoin d'information.</p>
            </div><!-- End Section Title -->
      
            <div class="container" data-aos="fade-up" data-aos-delay="100">
      
              <div class="row gy-4">
      
                <div class="col-lg-6">
                  <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Addresse</h3>
                    <p>AV FAR, Tétouan,Maroc</p>
                  </div>
                </div><!-- End Info Item -->
      
                <div class="col-lg-3 col-md-6">
                  <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                    <i class="bi bi-telephone"></i>
                    <h3>Appelez-nous</h3>
                    <p>+212678954312</p>
                  </div>
                </div><!-- End Info Item -->
      
                <div class="col-lg-3 col-md-6">
                  <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-envelope"></i>
                    <h3>Email</h3>
                    <p>Edeliverexample.com</p>
                  </div>
                </div><!-- End Info Item -->
      
              </div>
      
              <div class="row gy-4 mt-1">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3387338.8532789274!2d-10.0931684!3d31.7917026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdad9a1a07e13999%3A0x45e8fa6d9ddf9e53!2sMorocco!5e0!3m2!1sen!2sma!4v1676961268712!5m2!1sen!2sma" 
                            frameborder="0" style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                  </div>
                  <!-- End Google Maps -->
      
                <div class="col-lg-6">
                  <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="400">
                    <div class="row gy-4">
      
                     <div class="col-md-6">
                    <input type="text" name="name" class="form-control" placeholder="Votre Nom" required="">
                    </div>

                    <div class="col-md-6">
                    <input type="email" class="form-control" name="email" placeholder="Votre Email" required="">
                    </div>

                    <div class="col-md-12">
                    <input type="text" class="form-control" name="subject" placeholder="Sujet" required="">
                    </div>

                    <div class="col-md-12">
                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                    </div>

                    <div class="col-md-12 text-center">
                    

                    <button type="submit">Envoyer le Message</button>
                    </div>

                    </div>
                  </form>
                </div><!-- End Contact Form -->
      
              </div>
      
            </div>
      
          </section>
          
      </main>

      <!--footer-->
      <footer id="footer" class="footer position-relative light-background">

        <div class="container footer-top">
          <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
              <a href="index.html" class="logo d-flex align-items-center">
                <span class="sitename">Edeliver</span>
              </a>
              <div class="footer-contact pt-3">
                <p>Av FAR </p>
                <p>Tétouan</p>
                <p class="mt-3"><strong>Téléphone:</strong> <span>+212624351678</span></p>
                <p><strong>Email:</strong> <span>Edeliverexample.com</span></p>
              </div>
              <div class="social-links d-flex mt-4">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
    
            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Liens utiles</h4>
              <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Presentation</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Confidentialité</a></li>
              </ul>
            </div>
    
            <div class="col-lg-2 col-md-3 footer-links">
              <h4> Services</h4>
              <ul>
                <li><a href="#">Livraison</a></li>
                <li><a href="#">Suivi de commandes</a></li>
                <li><a href="#">Ecommerce</a></li>
                <li><a href="#">Notification</a></li>
              </ul>
            </div>
    
            <div class="col-lg-4 col-md-12 footer-newsletter">
              <h4> Newsletter</h4>
              <p>Abonnez vous pour recevoir de nouvellles de la part de Edeliver</p>
              <form action="forms/newsletter.php" method="post" class="php-email-form">
                <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="S'abonner'"></div>
                <div class="loading">Chargement</div>
                <div class="error-message"></div>
                <div class="sent-message">Envoyé avec succès  merci</div>
              </form>
            </div>
    
          </div>
        </div>
    
        <div class="container copyright text-center mt-4">
          <p>© <span>Copyright</span> <strong class="px-1 sitename">Edeliver</strong><span>Tous les droits sont réservés </span></p>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you've purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
          </div>
        </div>
    
      </footer>
    
      <!-- Scroll Top -->

      
      
      <!--scorll up button-->
      <a href="#" class="scrollup" id="scroll-up"> 
          <i class="ri-arrow-up-fill scrollup__icon"></i>
      </a>


      <script src="../../assets/js/scrollreveal.min.js"></script>
      <script src="../../assets/js/main.js"></script>